# Core Framework & Server
Django==6.1
gunicorn==26.2.0
whitenoise==6.12.0
django-environ==0.14.0

# Database (PostgreSQL & SQLite)
psycopg2-binary==2.9.12
asgiref==3.12.1
sqlparse==0.6.0

# REST API & Documentation
djangorestframework==3.18.0
django-cors-headers==4.9.0
drf-spectacular==0.30.0
PyYAML==6.0.3
uritemplate==4.2.0

# Networking & Utilities
requests==2.34.2
python-dotenv==1.2.3
